.entire {
  background: url("https://images.unsplash.com/photo-1610028179054-e3f7a8da384c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
  text-align: center;
}

.title-2 {
  text-align: center;
  color:white;
}

.feed-container {
  display: flex; 
  justify-content: center;
}

.date-ranges {
  text-align: center;
  color:white;
  padding-bottom: 2.5em;
}

.displayNEO {
  text-align: center;
  padding-bottom: 5em;
  display: flex; 
  justify-content: center;
}

